@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', sans-serif;
}


/* Add this in your global.css or Tailwind CSS file */
.hero{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
