@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', sans-serif;
}


/* Add this in your global.css or Tailwind CSS file */
.hero{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4px;
  column-gap: 4px;
  padding: 0 20px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4px;      /* vertical gap only */
  column-gap: 0;     /* no horizontal gap */
  padding: 0 20px;   /* left-right space */
}
